{% extends 'base/base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'base/css/add_photo.css' %}" />
{% endblock head %} {% block body %}
<a class="back-button" href="{% url 'index' %}">Go back</a>

<form action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-group">
    <input
      required
      name="img_upload"
      type="file"
      id="img_upload"
      class="form-group__input"
      autocomplete="off"
      placeholder=""
    />
    <label for="img_upload" class="form-group__label">Upload</label>
  </div>
  <div class="form-group">
    <input
      name="description"
      type="text"
      id="description"
      class="form-group__input"
      autocomplete="off"
      placeholder=""
    />
    <label for="description" class="form-group__label">Description</label>
  </div>
  <div class="form-group">
    <select name="category" id="category" class="form-group__input" autocomplete="off" placeholder="">
      <option value="none">Select category</option>
      {% for category in categories %}
      <option value="{{ category.id }}">{{ category.name }}</option>
      {% endfor %}
    </select>
    <label for="category" class="form-group__label">Category</label>
  </div>
  <div class="form-group">
    <input
      name="add_category"
      type="text"
      id="add_category"
      class="form-group__input"
      autocomplete="off"
      placeholder=""
    />
    <label for="add_category" class="form-group__label">Add a category</label>
  </div>
  <div class="form-group">
    <button name="submit_btn" id="submit_btn" type="submit" class="form-group__input">Confirm</button>
  </div>
  <div class="form-group">
    <button name="reset_btn" id="reset_btn" type="reset" class="form-group__input">Reset</button>
  </div>
</form>
{% endblock body %}
