{% extends 'base/base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'base/css/view_photo.css' %}" />
{% endblock head %} {% block body %}
<div class="buttons">
  <a href="{% url 'index' %}">Go back</a>
  <a href="{% url 'edit_page' photo.id %}">Edit info</a>
  <a class="delete-button" href="{% url 'delete_page' photo.id %}">Delete</a>
</div>
<div class="info">
  <img src="{{ photo.image.url }}" alt="some image" />
  <p>{{ photo.description }}</p>
</div>
{% endblock body %}
