html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #dcdcdc;
  min-height: 100%;
  padding-top: 25px;
}

footer {
  padding: 10px;
  margin-top: auto;
}

.container {
  display: flex;
  margin: 0 auto;
  max-width: 1440px;
}
